

.dropdown {
    padding-bottom:20px;
    padding-top:20px;
}

.live-news-section {
    padding-bottom:80px;
    padding-top:80px;
}

@media (max-width:768px) {
    .posts-wrapper {
        max-height: 100%;
        overflow: auto;
    }
}   